<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Plaice:</strong>
  <%= @item.plaice %>
</p>

<p>
  <strong>Text:</strong>
  <%= @item.text %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
